body{
    font-family: "Atkinson Hyperlegible", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #9FE2Bf;
    align-items: center;
    font-size: 1.25em;
}
h1{
    text-align: center;
}
#content{
    display: flex;
}
#winnings, #total, #amountSpent, .green{
    color: #1a652a;
}
#netResult{
    color: red;
}
#amounts{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h2{
    margin: 1ch;
    overflow-wrap: anywhere;
}
#ticket{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(58, 153, 58);
    min-width: fit-content;
    aspect-ratio: 2/3;
}
h3{
    margin: 0;
    text-align: left;
    width: 100%;
}
h4{
    margin-top: 0;
    font-size: 1.5em;
}
h5{
    margin: 1%;
    font-size: 1.2em;
}
#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    padding-bottom: 7vh;
    min-width: min-content;
    aspect-ratio: 1;
    padding-bottom: 10%;
}
.row{
    display: flex;
    flex-direction: row;
    min-width: min-content;
    aspect-ratio: 4;
}
.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    width: 5vw;
    aspect-ratio: 1;
    min-width: max(7ch,16ex);
    min-height: 16ex;
    border: solid;
    user-select: none;
    cursor: pointer;
}
h6{
    margin: 1ch;
    font-size: larger;
}
#tryAgainImg{
    width: 100%;
    height: auto;
}
.squareWinnings{
    margin: 0px;
    color: #1a652a;
}
#bottomOfTicket{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}
#cardNumber{
    margin: 0px;
}
#qrCodeDiv{
    margin: 0px;
    width: min-content;
    align-self: flex-end;
    justify-self: flex-end;
}
#qrCodeNote{
    margin: 0px;
    font-size: 0.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#qrCode{
    width: 5vw;
    height: 5vw;
    background-color: cyan;
}
img{
    max-width: 100%;
}
#message{
    font-size: 1.15em;
}
button{
    cursor: pointer;
    margin: 1vh;
    font-size: 3em;
    background-color: yellow;
}
@media screen and (max-width: 880px) {
    #content{
        flex-direction: column;
        font-size: 0.75em;
    }
    #bottomOfTicket{
        position: relative;
        bottom: 6.6ex;
    }
}