body{
    font-family: "Atkinson Hyperlegible", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #9FE2Bf;
    align-items: center;
    font-size: 1.25em;
}
h1{
    text-align: center;
}
#content{
    display: flex;
}
h2{
    margin: 1ch;
}
#amounts{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#ticket{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(58, 153, 58);
    min-width: fit-content;
    aspect-ratio: 2/3;
}
h3{
    margin: 0;
    text-align: left;
}
h4{
    margin-top: 0;
}
h5{
    margin: 1%;
}
#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    padding-bottom: 7vh;
    min-width: min-content;
    aspect-ratio: 1;
}
.row{
    display: flex;
    flex-direction: row;
    min-width: min-content;
    aspect-ratio: 4;
}
.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 5vw;
    min-width: 7ch;
    aspect-ratio: 1;
    border: solid
}
h6{
    margin: 1ch;
    font-size: larger;
}